:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --card-bg-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--very-dark-blue);
  font-family: 'Overpass', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  width: 100%;
  background: var(--card-bg-gradient);
  color: var(--white);
  border-radius: 15px;
  padding: 1.5rem 1.5rem 2rem;
  max-width: 412px;
}

.card__img-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8125rem;
  background-color: var(--dark-blue);
  border-radius: 50%;
}

.card__img-container img {
  height: 13px;
}

.card__title {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.card__text {
  margin-top: 0.9375rem;
  color: var(--light-grey);
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.inputs {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.inputs__item {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

.inputs__item + label {
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: var(--medium-grey);
  background-color: var(--dark-blue);
  transition: background-color 0.2s, color 0.2s;
}

.inputs__item + label:hover,
.inputs__item:checked + label {
  color: var(--white);
}

.inputs__item + label:hover {
  background-color: var(--medium-grey);
}

.inputs__item:focus-visible + label {
  outline: 1px solid white;
}

.inputs__item:checked + label {
  background-color: var(--orange);
}

.btn {
  width: 100%;
  margin-top: 1.5rem;
  border: none;
  background-color: var(--orange);
  padding: 0.8125rem 0;
  font-family: inherit;
  font-size: 0.875rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.87px;
  text-transform: uppercase;
  border-radius: 23px;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:not(:disabled):hover {
  background-color: var(--white);
  color: var(--orange);
}

.card__summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.75rem 0;
}

.summary-img {
  width: 144px;
}

.card__banner {
  margin-top: 1.5rem;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: var(--orange);
  background-color: var(--dark-blue);
  border-radius: 23px;
  padding: 0.25rem 1.125rem;
}

.card__title--summary {
  margin-top: 1.5rem;
}

@media (min-width: 480px) {
  .card {
    padding: 2rem 2.5rem 2rem 2rem;
    border-radius: 30px;
  }

  .card__img-container {
    width: 48px;
    height: 48px;
  }

  .card__img-container img {
    height: 16px;
  }

  .card__title {
    font-size: 1.75rem;
    margin-top: 1.875rem;
  }

  .card__text {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }

  .inputs__item + label {
    width: 51px;
    height: 51px;
  }

  .btn {
    font-size: 0.9375rem;
    margin-top: 2rem;
  }

  .card__summary {
    padding: 0.8125rem 0;
  }

  .summary-img {
    width: 162px;
  }

  .card__banner,
  .card__title--summary {
    margin-top: 2rem;
  }
}
